.col-md-6 img {
  width: 100%;
  float: left;
  margin-top: 5.5%;
  margin-left: 5%;
}

.col-md-5 {
  width: 90%;
  margin-left: 80px;
  margin-top: 3%;
  width: 30%;
}

.col-md-1 {
margin-top: 3%;
}

.border {
  border: 30px solid black;
}

.hero-wrap img {
  margin-top:3.5%;
  width: 100%;
}

footer p {
  text-align: center;
}

@media screen and (max-width:991px) {
  .logo {
    max-width: 50%;
  }
  .info {
    float: right;
  }
}
